---
import Layout from '@layouts/base.astro'
---

<Layout>
  <section class="mx-auto mt-16 flex w-full max-w-7xl flex-col gap-4 p-4">
    <h2 class="text-3xl font-bold text-white max-w-96">
      {Astro.params.slug}
    </h2>
  </section>
</Layout>
