---
import Layout from '@layouts/base.astro'
import { PageColectionList } from '@components/collection/page-collection-list'
const [title, id] = Astro.params.slug?.split('_') ?? ['', '']
---

<Layout>
  <section class="mt-28  md:px-20 ">
    <PageColectionList title={title} id={id} client:visible />
  </section>
</Layout>
