---
import Layout from '@layouts/base.astro'
import { PageColectionList } from '@components/page-colection-list'
const [title, id] = Astro.params.slug?.split('_') ?? ['', '']
---

<Layout>
  <section class="mt-16 p-4 md:px-20 md:py-4">
    <PageColectionList title={title} id={id} client:visible />
  </section>
</Layout>
