---
import Layout from '@layouts/base.astro'
import { PageColectionList } from '@components/page-colection-list'
const [title, id] = Astro.params.slug?.split('_') ?? []
---

<Layout>
  <section>
    <PageColectionList title={title} client:visible />
  </section>
</Layout>
