---
import { PageColectionList } from '@components/collection/page-collection-list'
import Layout from '@layouts/base.astro'
import { slugToText } from '@utils/slug-to-text'
const [title, id] = Astro.params.slug?.split('_') ?? ['', '']
---

<Layout>
  <section class="w-full">
    <PageColectionList title={slugToText(title)} id={id} client:visible />
  </section>
</Layout>
