---
import Layout from '@layouts/base.astro'
---

<Layout>
  <div class="flex h-screen w-full flex-col items-center justify-center">
    <h1 class="text-4xl font-bold">Watch</h1>
    <p class="mt-4 text-lg">This page is under construction.</p>
  </div>
</Layout>
