---
import { Favicon } from '@shared/components/icons/common/favicon'
---

<div
  class="flex h-40 min-h-[10rem] w-full flex-col justify-between border-t border-white/5 px-4 py-4 [grid-area:footer] md:h-32 md:min-h-[8rem] md:px-20"
>
  <ul class="flex h-auto w-full flex-row items-center">
    <li class="flex flex-row items-center gap-4">
      <a class="text-l flex flex-row items-center gap-2" href="/"
        ><Favicon className="text-enfasisColor h-12 w-12" />AniDev</a
      >
    </li>
    <li></li>
  </ul>
  <div class="w-full">
    <span class="text-sxx text-Primary-300">
      2025 AniDev | This website does not retain any files on its server.
      Rather, it solely provides links to media content hosted by third-party
      services.</span
    >
  </div>
</div>
