---
import { Music } from '@components/music-info/music'
import { MusicPlayList } from '@components/music-player/music-playlist'
import Layout from '@layouts/base.astro'

const { slug } = Astro.params
const [_, theme_id] = slug?.split('_') ?? ['', '']
---

<Layout themeId={theme_id}>
  <section
    class="mx-4 mt-30 mb-20 md:mx-20 xl:mx-0 xl:mr-20 xl:w-[35%]"
    id="music-player-container"
  >
    <Music client:load themeId={theme_id} />
    <MusicPlayList client:load />
  </section>
</Layout>
