---
import Layout from '@layouts/base.astro'
import {ArtistInfoContainer} from '@music/components/music-player/artist-info/artist-info-container'
import { MusicPlayList } from '@music/components/music-playlist/music-playlist'

const { slug } = Astro.params
const [_, theme_id] = slug?.split('_') ?? ['', '']
---

<Layout themeId={theme_id}>
  <section
    class="mt-16 grid h-full w-full grid-cols-1 md:mt-30 md:mb-10 md:gap-6 md:px-20 xl:grid-cols-[68%_1fr]"
  >
    <div class="relative flex flex-col">
      <div
        id="music-player-container"
        class="absolute top-0 left-0 z-20 h-full w-full"
      >
      </div>

      <div class="aspect-video rounded-t-xl w-full bg-zinc-800 animate-pulse"></div>
      <div class="h-28 w-full bg-Complementary md:rounded-b-xl animate-pulse"></div>
    </div>

    <MusicPlayList client:load />
    <ArtistInfoContainer client:load />
  </section>
</Layout>
