---
import { MusicPlayList } from '@components/music-player/music-playlist'
import Layout from '@layouts/base.astro'

const { slug } = Astro.params
const [_, theme_id] = slug?.split('_') ?? ['', '']
---

<Layout themeId={theme_id}>
  <section
    class="xl:w-[40%] xl:mt-30 my-20"
    id="music-player-container"
  >
    <MusicPlayList client:only />
  </section>
</Layout>
