---
import { Image } from 'astro:assets'
interface Props {
  trailer_url: string
  banner_image: string
  image_large_webp: string
  title: string
}

const { trailer_url, banner_image, image_large_webp, title } = Astro.props
---

{
  trailer_url ? (
    <div class="mt-10 flex w-full flex-col md:max-w-5xl">
      <lite-youtube
        class="rounded-lg"
        videoid={trailer_url.split('v=')[1]}
        loading="lazy"
      />
    </div>
  ) : (
    <div class="flex w-full flex-col rounded-md md:max-w-5xl">
      <picture class="aspect-video h-full w-full rounded-sm">
        <Image
          src={banner_image ?? image_large_webp}
          alt={title}
          class="aspect-video h-full w-full rounded-sm transition-all ease-in-out"
          fetchpriority="high"
          loading="lazy"
          width={225}
          height={330}
          quality={10}
        />
      </picture>
    </div>
  )
}
