---
import { Image } from 'astro:assets'
import { createImageUrlProxy } from '@utils/craete-imageurl-proxy'
import { Overlay } from '@components/overlay'
interface Props {
  banner_image: string
  image_webp: string
  title: string
}

const { banner_image, image_webp, title } = Astro.props
---

<div
  class="absolute inset-0 max-h-[50vh] w-full overflow-hidden md:max-h-[500px]"
>
  <Image
    src={banner_image
      ? createImageUrlProxy(banner_image, '1920', '50', 'webp')
      : image_webp}
    alt={`${title} banner`}
    loading="lazy"
    class="h-full w-full object-cover object-center"
    width={225}
    height={330}
    quality={10}
  />
  <Overlay
  heigth="full"
  color="Primary-950"
  width="1/2"
  gradient="b"
  rounded="none"
  hover="none"
/>
</div>
