---
import { Image } from 'astro:assets'
import { createImageUrlProxy } from '@utils/craete-imageurl-proxy'
import { Picture } from '@components/picture'
import { Overlay } from '@components/overlay'
interface Props {
  banner_image: string
  image_webp: string
  title: string
}

const { banner_image, image_webp, title } = Astro.props
---

<div
  class="absolute inset-0 max-h-[50vh] w-full overflow-hidden md:max-h-[500px]"
>
  <Picture
    image={createImageUrlProxy(banner_image, '100', '0', 'webp')}
    styles="h-full w-full object-cover object-center"
  >
    <img
      src={createImageUrlProxy(banner_image, '1920', '50', 'webp')}
      alt={`${title} banner`}
      loading="lazy"
      class="h-full w-full object-cover object-center"
      width={225}
      height={330}
    />
  </Picture>
  <Overlay
    heigth="full"
    color="Primary-950"
    width="1/2"
    gradient="b"
    rounded="none"
    hover="none"
  />
</div>
