---
import Layout from '@layouts/base.astro'
import { UserInfo } from '@user/components/user-dashboard/user-info'
import { UserList } from '@user/components/user-dashboard/user-list'
import { baseTitle } from '@utils/base-url'

const title = `Profile - ${baseTitle}`
const description =
  'Manage your AniDev profile, track your anime watchlist, view your watching history, and customize your preferences for the ultimate anime streaming experience.'
---

<Layout title={title} description={description}>
  <section
    class="p-y mx-auto mt-16 flex w-full flex-col gap-24 px-4 text-white md:gap-16 md:px-20"
  >
    <UserInfo client:load />

    <UserList client:only />
  </section>
</Layout>
