---
import Layout from '@layouts/base.astro'
---

<Layout title="Profile">
  <section
    class="mx-auto mt-16 flex w-full flex-col gap-8 p-4 text-white xl:max-w-7xl"
  >
  <div>
    
  </div>
    <h2 class="text-pretty text-3xl font-bold">Profile</h2>
  </section>
</Layout>
