---
import { Overlay } from '@components/layout/overlay'
import { Picture } from '@components/media/picture'
import { UserInfo } from '@components/profile/user-info'
import { UserList } from '@components/profile/user-tabs/user-list'
import Layout from '@layouts/base.astro'
import { baseTitle } from '@utils/base-url'
import { createImageUrlProxy } from '@utils/create-image-url-proxy'

const title = `Profile - ${baseTitle}`
const description =
  'Manage your AniDev profile, track your anime watchlist, view your watching history, and customize your preferences for the ultimate anime streaming experience.'
---

<Layout title={title} description={description}>
  <section
    class="p-y mx-auto mt-16 flex w-full flex-col gap-24 px-4 text-white md:gap-16 md:px-20"
  >

    <UserInfo client:load />

    <div class="relative">
      <UserList client:only />
    </div>
  </section>
</Layout>
