---
import Layout from '@layouts/base.astro'
---

<Layout title="Settings">
  <section
    class="mx-auto mt-16 flex w-full flex-col gap-8 p-4 text-white xl:max-w-7xl"
  >
    <h2 class="text-3xl font-bold text-pretty">Settings</h2>
  </section>
</Layout>
