@keyframes anime-banner-animation {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes anime-banner-animation2 {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.anime-banner-1{
    animation: anime-banner-animation 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry;
}
.anime-banner-2{
  animation: anime-banner-animation2 1s ease-in-out;
  animation-timeline: view();
  animation-range: entry;
}

