---
import Layout from '@layouts/base.astro'
import { baseTitle } from '@utils/base-url'

const pageTitle = `404 - Page Not Found | ${baseTitle}`
const description =
  'The page you are looking for does not exist. Return to AniDev homepage to discover amazing anime content and find what you were searching for.'
---

<Layout title={pageTitle} description={description}>
  <section
    class="mt-16 flex h-full w-full flex-col items-center justify-center gap-4 p-4 text-white"
  >
    <h2 class="mb-4 text-3xl font-bold md:text-5xl">
      404 - Page Not Found
    </h2>
    <p class="mb-6 text-center md:text-xl">{description}</p>
    <a href="/" class="text-enfasisColor hover:underline md:text-lg">
      Go back home
    </a>
  </section>
</Layout>
