---
import Layout from '@layouts/base.astro'

import '@styles/anime-page.css'

import { AnimeInfo } from '@components/anime-info/anime'

const slug = Astro.params.slug ?? ''
---

<Layout>
  <section class="flex flex-col text-white">
    <AnimeInfo client:only slug={slug} />
  </section>
</Layout>
