---
import { FilterSection } from '@components/filter-section'
import Layout from '@layouts/base.astro'
---

<Layout>
  <section class="flex flex-row flex-wrap p-4">
    <FilterSection client:visible />
  </section>
</Layout>
