---
import { AnimeSlider } from '@components/index/slider/anime-slider-list'
import { Carousel } from '@components/index/carousel/carousel'
import { AnimeBanner } from '@components/index/banners/anime-banner'
import Layout from '@layouts/base.astro'
import { ColectionList } from '@components/index/collections/colection-list'
import { AnimeTop } from '@components/index/anime-top/top-anime'
import { CreateMetaDatas } from '@components/create-meta-datas'
import { baseTitle } from '@utils/base-url'

const SEO_DESCRIPTION =
  'AniDev is a modern anime streaming and exploration platform. It offers dynamic experiences for discovering, searching, and enjoying top animes.'
---

<Layout>
  <Carousel client:load />
  <CreateMetaDatas
    client:load
    title={baseTitle}
    description={SEO_DESCRIPTION}
    image={'https://ani-dev.vercel.app/og-image.jpg'}
  />

  <section class="-mt-20 flex flex-col gap-y-6 md:gap-y-20">
    <AnimeSlider
      client:visible
      query="year_filter=2025&type_filter=tv"
      title="Top 2025"
    />
    <AnimeTop client:visible />
    <ColectionList client:visible id={1} />

    <AnimeBanner id={1} client:visible />
    <AnimeSlider client:visible query="genre_filter=action" title="Action" />
    <AnimeSlider client:visible query="type_filter=movie" title="Top Movies" />
    <AnimeBanner id={2} client:visible />
    <AnimeSlider client:visible query="genre_filter=comedy" title="Comedy" />
    <AnimeSlider client:visible query="genre_filter=drama" title="Drama" />
    <ColectionList client:visible id={2} />
    <AnimeBanner id={3} client:visible />
    <AnimeSlider
      client:visible
      query="genre_filter=girlslove"
      title="Girls Love"
    />
    <AnimeBanner id={4} client:visible />
    <AnimeSlider client:visible query="genre_filter=horror" title="Horror" />
    <ColectionList client:visible id={3} />
    <AnimeSlider client:visible query="genre_filter=mystery" title="Mystery" />
    <AnimeBanner id={5} client:visible />
    <AnimeSlider client:visible query="genre_filter=romance" title="Romance" />
    <AnimeSlider
      client:visible
      query="genre_filter=sliceoflife"
      title="Slice of Life"
    />
  </section>
</Layout>
