---
import { CalendarList } from '@components/schedule/schedule-list'
import { CalendarShowBox } from '@components/schedule/schedule-show-box'
import Layout from '@layouts/base.astro'
---

<Layout>
  <section
    class="mx-4 mt-24 flex flex-col items-center overflow-hidden md:mx-20"
  >
    <CalendarList client:load />
    <CalendarShowBox client:load />
  </section>
</Layout>
