---
import Layout from '@layouts/base.astro'
import { SearchComponent } from '@components/search-section'
---

<Layout>
  <div class="flex flex-col p-4 gap-4 my-16 min-h-96">
    <SearchComponent client:visible />
  </div>
</Layout>
