---
import { SearchComponent } from '@components/search-section'
import Layout from '@layouts/base.astro'
---

<Layout>
  <div class="my-16 flex min-h-96 flex-col gap-4 p-4">
    <SearchComponent client:visible />
  </div>
</Layout>
