---
import Layout from '@layouts/layout.astro'
import { SearchComponent } from '@components/search-component'
---

<Layout>
  <div class="flex flex-col p-4 gap-4">
    <SearchComponent client:visible />
  </div>
</Layout>
