---
import { Formulary } from '@components/auth/formulary'
import Layout from '@layouts/base.astro'
const title = 'Sign In'
const action = '/api/auth/signin'
const bgImage = '/sign-in.webp'
---

<Layout title={title}>
    <section class="md:mt-0 mt-20 h-full">
  <Formulary client:only title={title} action={action} bgImage={bgImage} />
</section>
</Layout>
