---
import { AuthFormContainer } from '@auth/components/auth-form/auth-form-container'
import Layout from '@layouts/base.astro'
import { baseTitle } from '@shared/utils/base-url'
const title = `Sign Up - ${baseTitle}`
const description =
  'Join AniDev today and unlock access to thousands of anime series and movies. Get personalized recommendations, create watchlists, and connect with fellow anime enthusiasts.'
---

<Layout title={title} description={description}>
  <section class="mt-20 h-full w-full md:mt-0">
    <AuthFormContainer client:load />
  </section>
</Layout>
