---
import { AuthFormContainer } from '@auth/components/auth-form/auth-form-container'
import Layout from '@layouts/base.astro'
import { baseTitle } from '@shared/utils/base-url'
const title = `Sign In - ${baseTitle}`
const description =
  'Sign in to your AniDev account to access personalized anime recommendations, manage your watchlist, and enjoy seamless streaming across all your devices.'
---

<Layout title={title} description={description}>
  <section class="mt-20 h-full w-full md:mt-0">
    <AuthFormContainer client:load />
  </section>
</Layout>
