---
import { AnimeInfo } from '@anime/components/anime-info/anime'
import Layout from '@layouts/base.astro'

const slug = Astro.params.slug ?? ''
const segments = slug.split('_')
const mal_id = segments.length > 1 ? parseInt(segments[1], 10) : null

if (!mal_id || isNaN(mal_id)) {
  return Astro.redirect('/404')
}
---

<Layout animeId={mal_id}>
  <section class="flex w-full flex-col text-white">
    <AnimeInfo client:visible id={mal_id} />
  </section>
</Layout>
