---
import { AnimeInfo } from '@components/anime-info/anime'
import Layout from '@layouts/base.astro'

const slug = Astro.params.slug ?? ''
const mal_id = slug.split('_')[1]
---

<Layout animeId={mal_id}>
  <section class="flex w-full flex-col text-white">
    <AnimeInfo client:visible id={mal_id} />
  </section>
</Layout>
