---
const { anime } = Astro.props;
const { title , image  } = anime;

---
<article>
    <a href={`${title}-info`}>
        <img src={image} alt={title} />
        <h3>{title}</h3>
        <ul>
            <li>play</li>
            <li>add to list</li>
            <li>share</li>
        </ul>
    </a>
</article>
