---
import { getTagColor } from '@utils/get-tag-color'
interface Props {
  tag: string
  type?: string
  style?: string
}
const { tag, type, style } = Astro.props

const tagColor = getTagColor(type ?? '')
---

<a
  href=""
  class={`${style ?? 'w-min'} text-xs h-min font-medium  text-gray-800 px-2 py-1 transition-all duration-200 ease-in-out rounded-2xl hover: ${tagColor}`}
  aria-label={`Tag: ${tag}`}
>
  {tag}
</a>
