---
import AnimeCard from '@components/anime-card.astro'
import type { Anime } from 'types'

interface Props {
  animes: Anime[]
  title: string
}

const { animes, title } = Astro.props
---

<section
  class="relative mx-auto mt-6 w-[calc(100dvw-8px)]"
  id={`anime-slider-${title}`}
>
  <h2
    class="px-[calc(((100dvw-8px)/6.4)*0.2)] text-2xl font-bold text-gray-900"
  >
    {title}
  </h2>

  <div class="relative overflow-hidden">
    <button
      class="prev-button group absolute bottom-0 left-0 z-10 flex h-[92%] w-10 items-center justify-center rounded-lg bg-black/0 transition-all duration-300 ease-in-out hover:bg-gray-200/40 focus:outline-none"
      aria-label="Scroll to previous"
      aria-disabled="true"
    >
      <svg
        class="rotate-180 transform opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="none"
        stroke="#000"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <path d="M7 7l5 5-5 5M13 7l5 5-5 5"></path>
      </svg>
    </button>

    <ul
      class="no-scrollbar anime-list mx-auto mt-4 flex w-full flex-row overflow-x-auto scroll-smooth md:px-[calc(((100dvw-8px)/4.4)*0.2)] xl:px-[calc(((100dvw-8px)/6.4)*0.2)]"
    >
      {
        animes?.map((anime: Anime) => (
          <AnimeCard anime={anime} context={title} />
        ))
      }
    </ul>
  </div>

  <button
    class="next-button group absolute bottom-0 right-0 z-10 flex h-[92%] w-10 items-center justify-center rounded-lg bg-black/0 transition-all duration-300 ease-in-out hover:bg-gray-200/40 focus:outline-none"
    aria-label="Scroll to next"
    aria-disabled="true"
  >
    <svg
      class="opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100"
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      fill="none"
      stroke="#000"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    >
      <path d="M7 7l5 5-5 5M13 7l5 5-5 5"></path>
    </svg>
  </button>
</section>

<style>
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
</style>

<script is:inline>
  function init() {
    const width = window.innerWidth
    const $nextButtons = document.querySelectorAll('.next-button')
    const $prevButtons = document.querySelectorAll('.prev-button')
    const $animeLists = document.querySelectorAll('.anime-list')

    // Condiciones de visibilidad y optimización de tamaño
    const updateButtonsVisibility = (animeList, prevButton, nextButton) => {
      const isAtStart = animeList.scrollLeft <= 0
      const isAtEnd =
        animeList.scrollLeft + animeList.clientWidth >= animeList.scrollWidth

      prevButton.disabled = isAtStart
      nextButton.disabled = isAtEnd

      prevButton.classList.toggle('hidden', isAtStart)
      nextButton.classList.toggle('hidden', isAtEnd)
    }

    if ($nextButtons.length && $animeLists.length && $prevButtons.length) {
      if (width < 768) {
        $nextButtons.forEach((button) => button.classList.add('hidden'))
        $prevButtons.forEach((button) => button.classList.add('hidden'))
        return
      }

      $nextButtons.forEach((button, index) => {
        button.classList.remove('hidden')
        button.disabled = false
        button.addEventListener('click', () =>
          handleScroll(index, 'next', width)
        )
      })

      $prevButtons.forEach((button, index) => {
        button.classList.remove('hidden')
        button.disabled = false
        button.addEventListener('click', () =>
          handleScroll(index, 'prev', width)
        )
      })

      $animeLists.forEach((animeList, index) => {
        animeList.addEventListener('scroll', () =>
          updateButtonsVisibility(
            animeList,
            $prevButtons[index],
            $nextButtons[index]
          )
        )
        updateButtonsVisibility(
          animeList,
          $prevButtons[index],
          $nextButtons[index]
        )
      })
    }

    function handleScroll(index, direction, width) {
      const $animeList = $animeLists[index]
      if (!$animeList) return

      const scrollAmount =
        width >= 1280
          ? 6 * ((width - 8) / 6.4) + 1
          : 4 * ((width - 8) / 4.4) + 1

      const scrollDistance = direction === 'next' ? scrollAmount : -scrollAmount

      $animeList.scrollBy({
        left: scrollDistance,
        behavior: 'smooth',
      })
    }
  }

  document.addEventListener('DOMContentLoaded', init)
  window.addEventListener('resize', init)
</script>
