---
import PlayIcon from './icons/play-icon.astro';
---
<article class="card max-w-40 w-full h-64 bg-slate-200 rounded-lg shadow-md">
  <a href="" class="flex flex-col justify-center items-center">
    <img class="Anime-card-img" src="" alt="" />
    <h3>One Piece</h3>
    <div class="flex justify-between">
        <button ><PlayIcon/></button>
        <button >Download</button>
        <button>More Info</button>
        <button>Watch Trailer</button>
    </div>
  </a>
</article>
