---
import {Favicon} from '@components/icons/favicon'
---
<footer class="h-32 py-6 w-full flex flex-col justify-between  border-t border-white/10 px-4 md:px-20 ">
  <ul class=" h-auto w-full flex flex-row items-center ">
    <li class="flex flex-row items-center gap-4">
      <a class="text-l flex flex-row gap-2 items-center" href="/"><Favicon className=" w-12 h-12" />AniDev</a>

    </li>
    <li></li>
  </ul>
  <div class=" ">
    <span class="text-sxx text-Primary-300"> 2025 AniDev | This website does not retain any files on its server. Rather, it solely provides links to media content hosted by third-party services.</span>
  </div>
</footer>
