---
const url = Astro.url.pathname
import { SearchBar } from '@components/search-bar'
import '@styles/buttons.css'
const isSearch = url.includes('search')
---

<nav
  class="fixed top-0 z-30 flex h-16 items-center gap-6 bg-black/10 px-8 backdrop-blur-sm md:w-full"
  style={{ width: 'calc(100dvw - .5rem)' }}
>
  <ul class="flex w-full flex-row items-center gap-6 py-4">
    <li class="">
      <a
        href="/"
        class="font-semibold text-white hover:text-blue-500 md:text-2xl"
      >
        Animeflix</a
      >
    </li>
    <li class="flex flex-row items-center gap-4">
      <a href="/search" class="font-sm text-white hover:text-blue-500">
        Search</a
      >
    </li>
    {isSearch && <SearchBar client:visible />}
  </ul>
</nav>
