---
const url = Astro.url.pathname
import { SearchBar } from '@components/search-bar'
import { Profile } from '@components/profile'
import '@styles/buttons.css'
---

<nav
  class="fixed top-0 z-30 flex h-16 w-full items-center gap-6 bg-black/30 px-8"
>
  <ul class="flex w-full flex-row items-center justify-between">
    <li class="w-full max-w-xs text-sm font-bold text-white md:text-xl">
      <a href="/"><h1>Animeflix</h1></a>
    </li>
    <li class="w-full max-w-2xl">
      <SearchBar client:load location={url} />
    </li>
    <li class="w-full max-w-xs">
      <Profile client:visible />
    </li>
  </ul>
</nav>
