---
import { splitTextOnP } from '@utils/split-text-on-p'

interface Props {
  synopsis: string
}

const { synopsis } = Astro.props
---

<div class="max-w-5xl text-Primary-50/90 space-y-2 w-full">
  <p class="max-w-[80ch] text-balance">{splitTextOnP(synopsis ?? '')[0]}</p>
  <p class="max-w-[80ch] text-balance">{splitTextOnP(synopsis ?? '')[1]}</p>
</div>
