---
import { Logo } from '@components/common/logo'
import { Profile } from '@components/nav-bar/profile'
import { RandomAnimeButton } from '@components/nav-bar/random-anime'
import { RestorePlayerButton } from '@components/nav-bar/retore-player-button'
import { SearchButton } from '@components/nav-bar/search-button'
---

<nav
  class="bg-Complementary/60 fixed top-0 z-50 flex w-full flex-row items-center justify-between gap-2 px-4 py-2 backdrop-blur-sm md:top-4 md:right-10 md:w-auto md:rounded-full md:px-2"
>
  <div class="md:hidden">
    <Logo />
  </div>
  <div class="flex items-center gap-2">
    <SearchButton client:load />
    <RestorePlayerButton client:load />
    <RandomAnimeButton client:load />
    <div class="bg-Primary-100/30 h-6 w-0.5 rounded-full"></div>
    <Profile client:load />
  </div>
</nav>
