---
import Footer from '@components/footer.astro'
import NavBar from '@components/nav-bar.astro'
import { ViewTransitions } from 'astro:transitions'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Animeflix</title>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js"
    ></script>
    <script
      src="https://unpkg.com/lite-iframe@0.3.0/dist/lite-iframe.esm.js"
      type="module"></script>
    <ViewTransitions />
  </head>
  <body>
    <div
      id="app"
      class="overflow-y-auto overflow-x-hidden scroll-smooth [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar]:w-2"
    >
      <header class="[grid-area:header]">
        <NavBar />
      </header>
      <main class="mx-auto mt-16 w-full max-w-6xl [grid-area:main]">
        <slot />
      </main>
      <footer class="[grid-area:footer]">
        <Footer />
      </footer>
    </div>
  </body>
</html>

<style is:global>
  #app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'header'
      'main'
      'footer';
    height: 100dvh;
    width: 100dvw;
  }
</style>
