---
import NavBar from '@components/nav-bar/nav-bar.astro'
import { LoadTheme } from '@components/loadtheme'
import { ClientRouter } from 'astro:transitions'
import { AstroFont } from 'astro-font'
import '@styles/global.css'
import '@styles/fade-out.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="./Favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="" />
    <meta
      property="og:image"
      name="og:image"
      content={'https://ani-dev.vercel.app/og-image.jpg'}
    />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content={'summary_large_image'} />
    <meta name="twitter:description" content="" />
    <meta name="twitter:title" content="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <AstroFont
      config={[
        {
          src: [],
          name: 'Nunito',
          googleFontsURL:
            'https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap',
          preload: true,
          display: 'swap',
          selector: 'body',
          fallback: 'sans-serif',
        },
      ]}
    />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <link rel="canonical" href="https://ani-dev.vercel.app/" />
    <title></title>
    <ClientRouter />
  </head>
  <body>
    <LoadTheme client:load />
    <div
      id="app"
      class="no-scrollbar bg-Primary-950 text-Primary-50 overflow-x-hidden overflow-y-auto"
    >
      <header class="[grid-area:header]">
        <NavBar />
      </header>
      <main class="mx-auto w-full max-w-[100dvw] [grid-area:main]">
        <slot />
      </main>
    </div>
  </body>
</html>

<style is:global>
  #app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
    height: 100vh;
    width: 100vw;
    font-family: 'Nunito', sans-serif;
  }
</style>
